{% load i18n %}
{% load django_tables2 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Portfolio' %}</title>

    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
    rel="stylesheet" type="text/css">
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"
    rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'Delnice/table.css' %}" />

</head>
<body>
<meta content="text/html">

{% include "navbar.html" %}
    <h1 align="center"><strong>{{ podjetje.polnoIme }}</strong></h1>
    <br>
    <div class="container">
        <div class="graf" style="float: left">
            {{ div1 | safe}}
            {{ scr1 | safe}}
        </div>
    <div class="panel panel-default">
        <div class="panel-body" align="center" style="padding-top: 100px">
            <p>{% trans 'Povprečna vrednost kupljene delnice' %}:  <strong>{{ povp }} $</strong></p>
            <p>{% trans 'Trenutna vrednost delnice' %}:  <strong>{{ deln }} $</strong></p>
            <p>{% trans 'Skupaj plačano za delnice' %}: <strong>{{ skupna}} $</strong></p>
            <p>{% trans 'Skupna vrednost delnic' %}: <strong>{{ uradna }} $</strong></p>
            <p>{% trans 'Trenutni dobiček' %}: <strong>{{ prof }} $</strong></p>
            <br>
            <p>{% trans 'Do sedaj izplačano dividend' %}: <strong>{{ izplacano }} $</strong></p>

            <form  method="GET" align="center" action={% url 'newPurchase' %}>
              {% csrf_token %}
              <input type="submit" class="btn btn-danger" value={% blocktrans %}'Nov nakup'{% endblocktrans %}  />
              <input type="hidden" name="podjetje" value={{ podjetje }}>
              <input type="hidden" name="vrednost" value="">
            </form>

        </div>
    </div>
    </div>
<br>
<div class="container" style="width: 98%" align="center">
    {% render_table portfolio %}
</div>
</body>
</html>